h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-weight: bold;
  color: brown;
  text-align: center;
  width: 300px;
  margin: 32px;
  padding: 5px;
  border: 1px solid black;
}

.titulo {
  padding-top: 105px;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 15px;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(45, 39, 39);
}

li {
  margin: 25px;
  font-size: 26px;
  font-weight: normal;
  color: #010455;
}

.datos {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  background: gray;
}

.academico {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  background: gray;
}

.laboral {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  background: gray;
}

.globos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.contain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top_h2 {

  display: flex;
  justify-content: center;
}

.peliculas {

  justify-content: center;
  border: 1px solid black;
  border-radius: 35px;
  width: 400px;
}